@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.tl-container *,.tl-container *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.tl-container a {
	color: #f0f0f0;
	text-decoration: none;
}

.tl-container a:hover {
	color: #000;
}

.tl-container, .tl-body, .tl-events, .tl-event-date .date {
	position: relative;
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	width: auto;
}

.tl-container {
	height: 400px;
	overflow: hidden;
	box-shadow: 0 4px 5px 4px #ccc;
	-moz-box-shadow: 0 4px 5px 4px #ccc;
	-webkit-box-shadow: 0 4px 5px 4px #ccc;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
  font-size: 16px;
}

.tl-header {
  background: #fff;
  padding: 5px 10px 10px 20px;
  height: 13%;
  position: relative;
  border-top: 5px solid #3594cb;
  border-bottom: 1px solid #ddd;
}

.tl-header .tl-title {
  color: #495468;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.tl-body {
  height : 87%;
  background: #f6f6f6;
  box-shadow: inset 0 1px rgba(255,255,255,0.8);
}

.tl-events {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

.tl-event {
	width: 100%;
	float: none;
	min-height: 50px;
	box-shadow: inset 0 -1px rgba(255,255,255,0.2) !important;
	border-radius: 0px !important;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.tl-event-head {
	height : 20px;
}

.tl-event-source {
	float : left;
}

.tl-event-date {
	float: right;
}

.tl-event-date .day {
  	width: 30px;
  	display: inline-block;
  	text-align: right;
  	margin: -10px 0 0 -15px;
  	color: #686a6e;
  	font-weight: 400;
  	pointer-events: none;
  	font-size: 20px;
  	line-height: 20px;
  	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
}

.tl-event-date .month {
  	display: inline-block;
  	font-size: 10px;
  	text-transform: uppercase;
  	padding-left: 5px;
}

.tl-event-date .year {
  font-size : 12px;
}

.tl-event-body {
	color: rgb(239, 79, 105);
  	font-size: 13px;
  	display: inline-block;
  	padding: 3px 5px;
  	border-radius: 3px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	max-width: 100%;
  	margin-bottom: 1px
}

.tl-event-body:hover {
	color: white;
	background-color: rgb(239, 79, 105);
}

.mCSB_inside>.mCSB_container {
  margin-right: 12px;
}

.hidden {
  display: none !important;
}

/* fontello spinner */
@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?775004');
  src: url('./font/fontello.eot?775004#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?775004') format('woff'),
       url('./font/fontello.ttf?775004') format('truetype'),
       url('./font/fontello.svg?775004#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.spinner
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

  position: absolute;
  bottom: 10px;
  margin: auto;
  width: 100%;
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* hover detail panel */
.thumbs {
  padding: 8px 0;
  text-align: center;
}
 
.thumbs ul li {
  display: block;
  position: relative;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
}
 
 
/** detail panel **/
.details-pane {
  display: none;
  color: #414141;
  background: #f1f1f1;
  border: 1px solid #a9a9a9;
  position: absolute;
  top: 0;
  left: 290px;
  z-index: 99999;
  width: 530px;
  padding: 6px 8px;
  text-align: left;
  -webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
}
.details-pane.rightside {
  left: -529px;
}
 
.details-pane h3 {
  font-size: 2.0em;
  line-height: 1.1em;
  margin-bottom: 4px;
}
 
.details-pane h3 span {
  font-size: 0.75em;
  font-style: italic;
  color: #555;
  padding-left: 15px;
}
 
.details-pane .desc {
  font-size: 1.2em;
  margin-bottom: 6px;
}

a.hvrlink:hover + .details-pane {
  display: block;
}
.details-pane:hover {
  display: block;
}